@model ZNS.EliteTracker.Models.Documents.Commander
<div class="col-sm-3">
    <a href="@Url.Action("View", "Commander", new { id = Model.Id })">
        <div class="commander" style="background-image:url('@Model.ImageUrl');">
            <h4>@Model.Name</h4>
        </div>
    </a>
</div>
