@model ZNS.EliteTracker.Models.Documents.Task
<div class="task">
    <h4><a href="@Url.Action("View", "Task", new { id = Model.Id })">@Model.Heading</a></h4>
    @Html.TaskPriorityLabel(Model.Priority, "tag")
    @if (Model.AssignedCommanders != null && Model.AssignedCommanders.Count > 0)
    {
    <b>Assigned commanders:</b>
        foreach (var cmdr in Model.AssignedCommanders)
        {
            <span class="label label-info">@cmdr.Name</span>
        }
    }
</div>

